<% provide(:title, 'Home') %>
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
	<h1>Sample App</h1>
</body>
</html>